.home-section {
  height: 100vh;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}


.home-section .intro {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #e91e63; 
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
}

.home-section h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}


.home-section .roles {
  font-size: 1.1rem;
  margin-top: 25px;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.home-section .btn {
  font-size: 25px;
  padding: 20px 25px;
  border-radius: 40px;
  border-color: #e91e63;
  font-weight: bold;
  transition: all 0.3s ease;
}

.home-section .btn:hover {
  background-color: #e91e63;
  border-color: #e91e63;
  color: white;
}

.home-section .display-3{
  font-size: 80px;
}

@media (max-width: 768px) {
  .home-section h1 {
    font-size: 2.5rem;
  }

  .home-section .roles {
    font-size: 1rem;
  }
}
